html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}

body {
  overflow: hidden;
}

.point {
  fill: #999;
  stroke: #fff;
}

.point.scanned {
  fill: orange;
  fill-opacity: 1;
  stroke: brown;
}

.point.selected {
  fill: red;
  fill-opacity: 1;
  stroke: brown;
}

.node {
  stroke: #ccc;
  shape-rendering: crispEdges;
  fill: #fafafa;
}

.rect {
  stroke: #aaa;
  shape-rendering: crispEdges;
  fill: #e4ffe7;
}

#pt {
  fill: yellow;
  stroke: orange;
  fill-opacity: 1;
}
